# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata

# macOS
macos/Pods/
macos/.symlinks/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Env
.env
*.env.local
